<div class="contenedor">
    <div id="text">
        <p>algunos de mis proyectos</p>
        <h1>
            Mis proyectos
        </h1>
    </div>

</div>
<div id="perfil">
    <img id src="assets/imagenes/profile.png" alt="">
    <div>
        <h1> Hoja de vida profesional</h1>
        <p>pagina web donde muestro mis skills</p>
    </div>
</div>

<div id="login">
    <div>
        <h1> Hoja de vida profesional</h1>
        <p>pagina web donde muestro mis skills</p>
    </div>
    <img id src="assets/imagenes/profile.png" alt="">
    
</div>