
<div class="contenedor">

    <div id="frontend">
        <img src="assets/imagenes/frontend.png" alt="">
        <h1>Frontend</h1>
        <button id="hab" disabled>HTML5</button>
        <button id="hab" disabled>CSS</button>
        <button id="hab" disabled>JavaScript</button>
    </div>

    <div id="backend">
        <img src="assets/imagenes/backend.png" alt="">
        <h1>Backend</h1>
        <button id="hab" disabled>python</button>
        <button id="hab" disabled>MySQL</button>
    </div>

</div>

